@charset "utf-8";
/* CSS Document */

/*页面初始化*/
html{overflow-x:hidden; height:100%;}
*{margin:0;padding:0;word-break:break-all;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
i,em{ font-style:normal;}
body{padding:0px;margin:0; font-family:Verdana,Microsoft YaHei,"微软雅黑", SimSun,"宋体";font-size:14px; background:#fff; color:#666; min-height:100%; position:relative;}
a{text-decoration:none; color:#333;}
img{ border:none;}
img.lazy{ background:url(../images/loading.gif) no-repeat center;}
li{ list-style:none;}
input,button,select {outline: none; border:0;font-family:Verdana,Microsoft YaHei,"微软雅黑", SimSun,"宋体";}
textarea {outline: none;}
.clr{ display:block;clear:both;width:0; height:0; overflow:hidden; margin:0 !important; padding:0 !important;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; overflow:hidden;}
/*为了IE的html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/*滚动条 可选*/
::-webkit-scrollbar{width:10px;height:10px;}
::-webkit-scrollbar-button:vertical{display:none;}
::-webkit-scrollbar-track:vertical{background-color:black;}
::-webkit-scrollbar-track-piece{background-color:#F5F5F5;}
::-webkit-scrollbar-thumb:vertical{margin-right:10px; background-color:#A6A6A6;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#aaa;}
::-webkit-scrollbar-corner:vertical{background-color:#535353;}
::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00;}
/*选中 可选*/
::selection { background:#0e3033; color:#fff; }
::-moz-selection { background:#0e3033; color:#fff; }
::-webkit-selection { background:#0e3033; color:#fff; }
/*兼容写法*/
.ie7_hints{ height:30px; line-height:30px; text-align:center; background:#ffffdc; color:#b78e66;}
ie6,ie7,ie8{behavior: url(ie-css3.htc); /*使IE678支持css3 应对border-radius,box-shadow，text-shadow*/
padding:10px;
padding:9px\9; /* all ie */
padding:8px\0; /* ie8-9 */
*padding:5px; /* ie6-7 */
+padding:7px; /* ie7 */
_padding:6px; /* ie6 */
}


@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470966432_2199616.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470966432_2199616.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1470966432_2199616.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1470966432_2199616.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470966432_2199616.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{ font-size:16px; font-family:"iconfont"; color:inherit;-webkit-font-smoothing: antialiased;}



/*************代码正式开始******************/
.inlineblock{ display:inline-block;*display:inline;*zoom:1;}
.w390{ width:390px;}
.w400{ width:400px;}
.w800{ width:800px;}
.w980{ width:980px;}
.w1000{ width:1000px;}
.w1200{ width:1200px;}
.mar0{ margin:0 auto;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.mb5{ margin-bottom:5px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.ml20{ margin-left:20px;}
.mr20{ margin-right:20px;}
.mb20{ margin-bottom:20px;}
.pad10{ padding:10px;}
.fl{ float:left;*display:inline;*zoom:1;}
.fr{ float:right;*display:inline;*zoom:1;}
.fixed{ position:fixed;}
.ease-1{-webkit-transition:all 0.1s ease-out;-khtml-transition:all 0.1s ease-out;-moz-transition:all 0.1s ease-out;-o-transition:all 0.1s ease-out;transition:all 0.1s ease-out;}
.ease-3{-webkit-transition:all 0.3s ease-out;-khtml-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.radius-2{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;behavior:url(ie-css3.htc);zoom:1;}
.radius-5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(ie-css3.htc);zoom:1;}
.radius-circle{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;behavior:url(ie-css3.htc);zoom:1;}
.shadow-box-5{-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);box-shadow:0px 0px 5px rgba(0,0,0,0.5);behavior:url(ie-css3.htc);zoom:1;}
.shadow-text-1{-moz-text-shadow:0 1px 0px rgba(0,0,0,.5);-webkit-text-shadow:0 1px 0px rgba(0,0,0,.5);text-shadow:0 1px 0px rgba(0,0,0,.5);behavior:url(ie-css3.htc);zoom:1;}
.text-overflow{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs24{ font-size:24px;}
.fs28{ font-size:28px;}
.txt-c{ text-align:center;}
.txt-l{ text-align:left;}
.txt-r{ text-align:right;}
.txt-333{ color:#333;}
.txt-666{ color:#666;}
.txt-999{ color:#999;}
.txt-aaa{ color:#aaa;}
.txt-white{ color:#fff;}
.txt-pink{ color:#d323a8 !important;}
.txt-red{ color:#d32323;}
.txt-green{ color:#48d318;}
.txt-yellow{ color:#ecdf0f;}
.txt-orange{ color:#ff6600;}
.txt-blue{ color:#236dd3 !important;}
.txt-lensgreen{ color:#0195a3;}
a.txt-3p{ color:#333;}
a.txt-3p:hover{ color:#0195a3;}
a.txt-lensgreen{ color:#0195a3;}
a.txt-blue{ color:#1795e6;}
a.txt-blue:hover{ color:#147bbd;}

.icon_pic{ display:inline-block;*display:inline;*zoom:1; width:16px; height:16px; background-position:center; background-size:contain; background-repeat:no-repeat; vertical-align:middle; margin-top:-5px;}
.icon_ali{ background-image:url(../images/icon_ali.png);}

/*分页*/
.pagelist{ padding:80px 0px 80px; text-align:left; text-align:center; position:relative;}
.pagelist p a{ line-height:50px; padding:5px 10px; background:#fff; border:1px #999 solid; color:#666; margin-right:10px; font-size:16px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(ie-css3.htc);zoom:1;-webkit-transition:all 0.1s ease-out;-khtml-transition:all 0.1s ease-out;-moz-transition:all 0.1s ease-out;-o-transition:all 0.1s ease-out;transition:all 0.1s ease-out;}
.pagelist p a:hover{ border-color:#236dd3; color:#236dd3; background:#fff;}
.pagelist p a.thisclass{ color:#fff; background:#236dd3; border-color:#236dd3;}
.pagelist p a:last-child,.pagelist p a:first-child { border-color: #fff; }

/*正文内容*/
.text_box{ line-height:26px; font-size:14px; color:#333;}
.text_box a{ color:#ffa50f;}
.text_box a:hover{ text-decoration:underline;}
.text_box img{ max-width:100%; height:auto;}

.icon_blue { color: #236dd3; }
.bt_index{ height:40px; line-height:40px; font-size:14px; overflow:hidden; position: relative;}
.bt_index h2{ font-size:16px; color:#333;}
.bt_index h2 .icon{ margin-right:10px; }
.bt_index .more{ position:absolute; right:0;top:0;display:inline-block;*display:inline;*zoom:1; height:40px; line-height:40px; color:#333; padding:0 25px 0 5px; font-size:12px;}
.bt_index .more .iconfont{ font-size:16px; position:absolute; right:5px; top:0px;display:block; width:16px; height:60px;}
.bt_index .more:hover{color:#236dd3;}
.bt_index .more:hover .iconfont{ right:0;}

/*placeholder颜色设置*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1d1d1; font-size: 12px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d1d1d1;font-size: 12px;}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d1d1d1;font-size: 12px;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d1d1d1;font-size: 12px;}









/*头部*/
#head{ position:fixed; top:0; left:0; right:0; bottom:auto; height:68px; background:url(../images/alpha_black50.png) repeat; z-index:999;}
#head .nr{ position:relative;}
#head .logo{ margin-top:22px;}
.logo{ height:24px;}
.logo{ display:block; }
.logo img{ height:100%; width:auto;}
.searchbox { position:relative; margin-top: 17px; }
.searchbox .search_input{width:160px; height: 12px; line-height:1.3em;background:#fff; color: #d1d1d1; -webkit-border-radius:34px;-moz-border-radius:34px;border-radius:34px;behavior:url(ie-css3.htc);zoom:1; padding-left: 28px; border: 1px #999 solid;}
.searchbox .search_submit{  display:block; width:70px; height:34px; background:none; border-left:1px solid #7f7f7f;color:#999; position: absolute; right:0;top: 0;}
#head .login_status { margin-left: 148px; }
#head .login_status li { float: left; }
#head .login_status li a { color: #fff; line-height: 68px; }

/*导航*/
.navbox{height:68px;z-index:999;line-height:68px; margin-left:30px;}
.navbox{zoom:1;}
.nav_shu .nLi{position:relative;float:left;display:inline;z-index:999;}
.nav_shu .nLi h3{ float:left; *display:inline;*zoom:1;}
.nav_shu .nLi h3 a{display:block; padding:0 70px;height:68px;line-height:68px;font-size:16px;text-align:center;overflow:hidden; position:relative; color: #fff; }
.nav_shu .nLi h3 a span {  }
.nav_shu .nLi h3 a:hover{ color:#fff;}
.nav_shu .nLi h3 a:hover span,.nav_shu .nLi.on h3 a span,.submenu .subnav a span,.submenu .subnav a:hover span{ border-bottom:1px solid #fff; padding-bottom: 5px;}
.submenu .subnav a.on span,.submenu .subnav a:hover span{ border-color:#236dd3;}
.nav_shu .sub{display:none;left:0px; top:70px; min-width:100%;_width:100%; position:absolute; line-height:40px;z-index:999; text-align:center; padding:1px 0; }
.nav_shu .sub li{ zoom:1;}
.nav_shu .sub a{display:block; *width:100%;color:#d4f1ff; white-space:nowrap; font-size:14px; padding:0 10px; margin-bottom:1px; background:#00a0e9;}
.nav_shu .sub a:hover{color:#fff; background:#2bb8f9;}

/*小banner*/
.banner_small{ width:100%; height:600px; background-position:center; background-size:100% 100%; position:relative;}




/*第一屏 banner*/
.index_banner{ width:100%; height:600px; position: relative;}

#indexslider {background-color:#000;width:100%;height:100%;position:relative;}
#indexslider .hd{ width:100%; position:absolute; bottom:-36px; left:0; right:0;z-index: 1;
transition-timing-function:ease-out;
-o-transition-timing-function:ease-out;
-moz-transition-timing-function:ease-out;
-webkit-transition-timing-function:ease-out;
/*filter: alpha(opacity=0);
-khtml-opacity: 0;
-moz-opacity: 0;
opacity: 0;*/}
#indexslider .hd.hd_show{bottom:10px;
filter: alpha(opacity=100);
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;}
#indexslider .hd li{ display:inline-block;*display:inline;*zoom:1;height:10px; width:17%;margin: 4px 10px;font-size: 0px; text-indent:9999;line-height: 10px;text-align: center;background:#d3d3d3;
cursor: pointer;
/*-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
filter: alpha(opacity=50);
-khtml-opacity: 0.5;
-moz-opacity: 0.5;
opacity: 0.5;*/
behavior: url(ie-css3.htc); z-index:1;
-webkit-transition:all 0.3s linear;
-khtml-transition:all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;}
#indexslider .hd li.on{background: #236dd3;color: #fff; border-color:#fff;
filter: alpha(opacity=100);
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;}
#indexslider .tempWrap{ height:100%;}
#indexslider .swiper-wrapper{ width:100% !important; height:100% !important;}
#indexslider .swiper-slide { position:relative; width:100% !important; height:100% !important; background-position:center; background-size:cover; background-repeat:no-repeat;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#indexslider .swiper-slide a{ display:block; width:100%; height:100%;}
#indexslider .swiper-slide img{ width:100%; height:auto;}
#indexslider .swiper-slide .w1200{ position:relative;}
#indexslider .swiper-slide .pic_item{ position:absolute;}
#indexslider .swiper-slide .pic_item img{ width:auto;}
#indexslider .swiper-slide .txt-mask{ position:absolute; right:0; bottom:15%; width:500px; background:url(../images/alpha_black80.png) repeat; padding:30px 100px 30px 40px; color:#fff; font-size:12px; text-align:left; line-height:22px;}
#indexslider .swiper-slide .txt-mask h1{ font-size:28px; line-height:30px; margin-bottom:20px;}
#indexslider .prev:hover,#indexslider .next:hover{ background-color:rgba(0,0,0,.8);}
#indexslider .prevStop,#indexslider .nextStop{ background-color:rgba(0,0,0,.2) !important;}
#indexslider .prev.arrow_show{left:5%;
filter: alpha(opacity=100);
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;}
#indexslider .next.arrow_show{right:5%;
filter: alpha(opacity=100);
-khtml-opacity: 1;
-moz-opacity: 1;
opacity: 1;}
.index_banner .info { width: 267px; background: url(../images/alpha_black50.png) repeat; position: absolute; left: 52px; top: 50%; -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%); -webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;behavior:url(ie-css3.htc);zoom:1; color: #fff; padding: 30px 40px 70px 20px; }
.index_banner .info .caption,.game_introduction .info .caption { font-size: 18px; margin-bottom: 10px;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
.index_banner .info .date,.game_introduction .info .date { font-size: 12px; margin-bottom: 15px; }
.tag span,.btndownload { padding:0 6px; height: 20px; line-height: 20px;; display: inline-block; background: #236dd3; -webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;behavior:url(ie-css3.htc);zoom:1; font-size: 12px; text-align: center; margin-right: 10px; color: #fff; }
.tag span em,.btndownload em {display: inline-block;transform: scale(0.7,0.7);-webkit-transform: scale(0.7,0.7);-moz-transform: scale(0.7,0.7); }
.index_banner .info .desc,.game_introduction .info .desc { font-size: 12px; line-height: 36px; max-height:285px; overflow: hidden; }
.index_banner .info .focus,.game_introduction .info .focus { font-size: 10px; position: absolute; left: 14px; bottom:18px; }
.index_banner .info .focus span,.game_introduction .info .focus span { display: inline-block;transform: scale(0.8,0.8);-webkit-transform: scale(0.8,0.8);-moz-transform: scale(0.8,0.8); }


.submenu{ background:#fff;  height:90px; line-height:90px; color:#fff; }
.submenu .subnav { padding: 0 200px; }
.submenu .subnav a{ padding:0 50px; color:#666; height:90px; position:relative;}
.submenu .subnav a:hover{ color:#236dd3; }
.submenu .subnav .on{ color:#236dd3; }
.concentration { margin-bottom: 60px; }

/*最新*/
.list_download_con ul{ width:110%;}
.list_download_con li{ float:left; display:inline; margin:0 37px 12px 0;}
.list_download_con .item{ padding-bottom:10px; margin-bottom:10px; width:272px;}
.list_download_con .item .pic{ width:272px; height:172px;}
.list_download_con .item .pic a{ width:100%; height:100%; overflow:hidden;}
.list_download_con .item .pic img{ width:100%; height:auto;
-webkit-transition:all 0.3s ease-out;
-khtml-transition:all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;}
.list_download_con .item .pic a:hover img{
filter: alpha(opacity=80);/* internet explorer */
-khtml-opacity: 0.8;     /* khtml, old safari */
-moz-opacity: 0.8;      /* mozilla, netscape */
opacity: 0.8;}
.list_download_con .txt { padding: 0 10px; }
.list_download_con .item .txt .title{ height:40px; line-height:40px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;font-size: 16px;}
.list_download_con .item:hover { -moz-box-shadow:0px 10px 20px rgba(0,0,0,0.3);
-webkit-box-shadow:0px 10px 20px rgba(0,0,0,0.3);
box-shadow:0px 10px 20px rgba(0,0,0,0.3);
}
.list_download_con .item:hover .txt .title { color: #2d7ae4; }
/* 筛选 */
.select2-container .select2-selection--single .select2-selection__rendered { padding-right: 0px; font-size: 12px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 3px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b { margin-left: 4px; }
.select2-container { vertical-align: top; }
/*排序按钮*/
.sort{ height:40px; display:inline-block; overflow:hidden;}
.sort a{ display:inline-block;*display:inline;*zoom:1; height:38px; line-height:38px; border:1px #dbdbdb solid; background:#fff; margin-right:10px; font-size:14px; color:#333; padding:0 40px 0 30px; position:relative;}
.sort a .icon{ display:block; position:absolute; width:16px; height:16px; line-height:20px; color:#888;}
.sort a .icon_up{ right:12px; top:5px;}
.sort a .icon_down{ right:12px; bottom:7px;}
.sort a.cur,
.sort a.cur_f{ color:#2f83f8;}
.sort a.cur .icon_down{ color:#2f83f8;}
.sort a.cur_f .icon_up{ color:#2f83f8;}
/*排序列表*/
.filter_list .item{ display:block; position:relative; margin-bottom:38px;}
.filter_list .item .pic{
  margin-right: 15px;
  width:436px;
  height:260px;
  overflow:hidden;
  border:1px #dbdbdb solid;
  background:#fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  }
.filter_list .item .pic img{ max-width:100%; max-height:100%;min-width:50%;-webkit-transition:all 0.3s ease-out;
-khtml-transition:all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;}
.filter_list .item .title{ height:40px; line-height:40px;}
.filter_list .item .desc{ height:180px; line-height: 36px; overflow:hidden;}
.filter_list .item .date{ height:25px; line-height:25px;}
.filter_list .item:hover{ background:#fff;  }
.filter_list .item:hover .title{ color:#2d7ae4;}
.filter_list .item:hover img{transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);-o-webkit-transform: scale(1.1,1.1);-moz-webkit-transform: scale(1.1,1.1);}
.filter_list .item .txt .focus { color: #236dd3; position: absolute; right: 0; top: 5px; }

/*登录*/
.login_box{ width: 366px;
    height: 220px;
    padding: 10px 25px 25px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -207px;}
.login_box .bt{ height:40px;line-height:40px; border-bottom: 1px solid #e8e8e8;}
.login_box .bt h1{ font-size:12px; color: #236dd3;}
.login_box .bt h1.line span { border-bottom: 1px solid #236dd3; padding-bottom: 14px; }
.login_box .btn_blue{ display:block; width:100%;}
.login_box .link-blue{ font-size:14px;}
.login_box .item form,.login_box .item .desc { padding-top: 28px; padding-right: 25px; }
.login_box .item .desc { width: 113px; line-height: 20px; font-size: 12px; }
.login_box .item .input_text { width: 126px; }
.login_box .item .bt_register { display: inline-block; margin-right: 20px; }
.login_box .item form{ border-right: 1px solid #e8e8e8; }
.login_box .item.register .nr { padding-left: 30px; }
.login_box.register_box { width: 247px; height:408px; margin-top: -204px; margin-left: -148px; }
.login_box.register_box .item form{ border-right: 0; padding-right:0; }
.login_box.register_box .item .input_text,.login_box.register_box .item .btn_submit { width: 100%; }
.login_box.register_box .item .input_text { width: 221px; }
.item .input_text { width: 220px; }
.icheckbox_flat-red { width: 14px; height: 13px; }
.icheckbox_flat-red.checked {     background-position: -19px 0; }
/*发现朋友*/
.found_friend { padding-top: 108px; }
.found_friend .searchbox { margin-top: 0px; }
.found_friend .searchbox .search_input { border-color: #b9b9b9; }
.found_friend .shaixuan { margin-bottom: 80px; }
.found_friend_list .item:hover img{transform: none;-webkit-transform: none;-o-webkit-transform: none;-moz-webkit-transform: none;}
.found_friend_list .item { position: relative; padding: 30px 50px; }
.found_friend_list .item:hover { background: #ececec; }
.found_friend_list .item .pic { width: 125px; height:125px; }
.found_friend_list .item .txt { padding: 24px 0 0; }
.found_friend_list .item .desc { height: auto; }
.found_friend_list .item .tag { position: absolute; right: 40px; top: 86px; z-index: 200; }
.found_friend_list .item .tag span { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; behavior: url(ie-css3.htc);
    zoom: 1; }

/*更多*/
.page_more { padding-top: 100px; }
/*试玩详情页面*/
.game_introduction { width: 800px; height: 388px; position: relative; top: -220px; background: url(../images/alpha_black50.png) repeat;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;behavior:url(ie-css3.htc);zoom:1; }
.game_introduction .pic { width: 397px; height: 265px; position: absolute; top: 60px; right: 60px; }
.game_introduction .pic img { width: 100%; }
.game_introduction .info { position: absolute; left: 30px; top: 30px; width: 230px; color: #fff; }
.game_introduction .info .date { margin-bottom: 0px; }

.game_introduction .info .desc { max-height: 190px; }
.game_introduction .info .focus { bottom: -20px; left: -10px; }
.game_introduction .info .tag { position: absolute; bottom: -86px; left: 0; }
.btndownload { display: inline-block; width: 60px; margin-left: 30px; }
.page_game_introduction { position: relative; top: -150px; }
.page_game_introduction .introduction { width: 745px; }
.page_game_introduction .introduction h3,.page_game_introduction .version h3 { font-size: 16px; height: 40px; line-height: 40px; }
.page_game_introduction .introduction .text_box,.page_game_introduction .version .item .desc { color: #666; line-height: 30px; }
.page_game_introduction .version { width: 358px; }
.page_game_introduction .version .item .title { height: 30px; line-height: 30px; }
.zScroll{ height:100%;  position:relative; overflow:hidden;}
.version_box { height: 400px; overflow: hidden; }
#developer { padding-top: 40px; }
#developer .pic { width: 84px; height: 84px; }
#developer .item .txt { padding: 5px 0; }
#developer .item .tag { left: 90px; bottom:0; }
#developer .filter_list li { margin-right: 136px; }
#assessment .title h2,#assessment .title h3 { height: 36px; line-height: 36px; }
#assessment textarea { margin-top: 10px; }
#assessment textarea.input_text { min-height: 104px; border-color: #999; }
#assessment .pingjia_box { margin-bottom: 30px; }
#assessment .pingjia_box .btn_submit { -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;behavior:url(ie-css3.htc);zoom:1; }

.comments .comments_item{ padding-left:112px; position:relative;}
.comments .comments_item .comments_avatar{ width:90px; height:90px; overflow:hidden; position:absolute; left:0px; top:10px;}
.comments .comments_item .comments_avatar img{ width:100%; height:100%;}


.comments .comments_item .txt-rank{ font-size:16px;}
.comments .comments_item .comments_point{ position:absolute; right:10px; top:00px; height:30px; line-height:30px;}
.comments .comments_item .comments_content{}
.comments .comments_item .comments_content .comments_user{ height:30px; line-height:30px; vertical-align:middle;}
.comments .comments_item .comments_content .comments_user a{vertical-align:middle; }
.comments .comments_item .comments_content .comments_body{ line-height:24px; min-height:30px;_height: expression_r( this.scrollHeight < 30 ? "30px" : "auto" ); padding-right:20px;}
.comments .comments_item .comments_content .comments_other{ font-size:12px;}
.comments .comments_item .comments_reply{ background:#f6f3f4; padding:10px;}
.comments .showmore{ padding:5px 0 20px;}

.comments .comments_smallbox .comments_item { padding-left: 200px; }
.comments .comments_smallbox .comments_avatar { left: 114px; }
.comments .comments_smallbox .comments_avatar { width: 64px; height: 64px; }

.comments .comments_bigbox { margin-bottom: 40px; }
/*想法详情页*/
.page_ieadDetail { background: #fff; top: 70px; padding-top: 240px; }
/*.page_ideaxq.page_game_introduction { top: 0; }*/
.game_introduction.page_ieadDetail .info { color: #333; }
.page_ideaxq #developer .item .tag,.page_game_introduction #developer .item .tag { margin-left: 64px; }
.page_ideaxq #developer .item:hover,.page_game_introduction .found_friend_list .item { background: none; }
/*玩家信息*/
.page_playerInfo { padding-top: 150px; }
.page_playerInfo .found_friend_list .item .txt { padding-top: 38px; }
.page_playerInfo .tag span { display: block; margin-bottom: 15px; }
.page_playerInfo .playerInfo .player_desc { padding-left: 120px; margin-bottom: 50px; }
.page_playerInfo .playerInfo .player_desc ul li { float:left;*display:inline;*zoom:1; width: 34%; height: 40px; line-height: 40px;}
.page_playerInfo .playerInfo .player_desc ul li:nth-child(even) { float:right;*display:inline;*zoom:1; }
.page_playerInfo .playerInfo .player_desc ul li .txt,.page_playerInfo .playerInfo .player_desc ul li .txt a { color: #236dd3; }

/*编辑*/
.bt_default{ height:50px; line-height:50px; position:relative;}
.bt_default h1{ font-size:20px; float:left; height:50px; overflow:hidden; display:inline; padding:0 15px 0 0px; position:relative; letter-spacing:2px;}
.page_editor { padding-top: 150px; }

.page_editor .change_avatar .pic{ width:126px; height:126px; position:relative;}
.page_editor .change_avatar .pic img{ width:100%; height:100%;}
.page_editor .change_avatar .pic a{ display:block; text-align:center; font-size:14px; position: absolute; left: 126px; bottom: 0; width: 90px;
}
.page_editor .change_avatar .pic a:hover{
filter: alpha(opacity=100);/* internet explorer */
-khtml-opacity: 1;     /* khtml, old safari */
-moz-opacity: 1;      /* mozilla, netscape */
opacity: 1;}
.page_editor .change_avatar .pic a input{ position:absolute; left:0; top:-5px; display:block; width:100px;
filter: alpha(opacity=00);/* internet explorer */
-khtml-opacity: 00;     /* khtml, old safari */
-moz-opacity: 00;      /* mozilla, netscape */
opacity: 00;}

.radio_box .icon { width: 19px; height: 18px; background: url(../images/icon.png) no-repeat 0 0px; background-size: cover; position: relative; top: 2px; }

.radio_box .radio_item { border: 0; }
.radio_box .icon.female { background-position: -51px 0; }
.radio_box .current .icon{ background-position: -25px 0; }
.radio_box .current .icon.female { background-position: -77px 0; }
.selectbox{padding:5px 5px;height:34px;font-size:12px;color:#888;border:1px solid #cfcfcf;}
.radio_box .current { color: #666; }
#imgHeadPhoto_2,.page_editor .change_avatar .pic02 { width:100px; height:100px; }
 .page_editor .change_avatar .pic02 a { left: 100px; }
.page_editor .icheckbox_flat-red { background: url(../images/icon.png) no-repeat 0px 0; width: 18px; height:18px; background-size: cover; }
.page_editor .icheckbox_flat-red.checked { background-position: -26px 0; }
.page_editor { padding-bottom: 80px; }
.page_editor .item_from { position: relative; }
.page_editor .item_from .edit_txt { position: absolute; bottom: 8px; }
.btn_add { position: absolute; bottom: -20px; margin-left: -118px; }
.imgContainer {
  display: inline-block;
  width: 172px;
  height: 88px;
  position: relative;
  box-sizing: border-box;
  margin:0 15px 15px 0;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload_img_wrap { width: 562px; }
.upload_img_wrap .imgDelete{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 0;
}
.imgContainer p {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 30px;
  background: black;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

#imgBox { display: inline-block; }
/*个人中心*/
.slide_personal_centre { width: 950px; overflow: hidden; }
.slide_personal_centre .bd { border: 1px solid #ccc; }
.slide_personal_centre .btn { padding: 0 10px; }
.slide_personal_centre .desc { width: 550px; }
.slide_personal_centre .bd ul li { position: relative; padding: 20px 170px; }
.slide_personal_centre .bd ul li .title { position: absolute; left: 30px; top:50%; height: 30px; margin-top: -10px; }
.slide_personal_centre .bd ul li .operation { position: absolute; right: 15px; top: 50%; height: 27px; margin-top: -14px; }
.slide_personal_centre .bd ul li .desc { line-height: 30px; }
.slide_personal_centre .bd .head,.slide_personal_centre .bd ul li { border-bottom: 1px solid #eee; }
.slide_personal_centre .bd .head {  padding: 30px 22px 30px 38px; }
.slide_personal_centre .fabu { position: relative; top: 4px; }
.slide_personal_centre .hd a { width: 19%; }
.slide_personal_centre .hd a.on span { border-bottom: 1px solid #236dd3; padding-bottom: 22px; }
.slide_personal_centre .hd a.on { color: #236dd3; }
.head_portrait { padding-top: 150px; width: 160px; }
.head_portrait .pic { width: 100px; height: 100px; overflow: hidden; margin-bottom: 15px; }
.head_portrait .pic img { width: 100%; height: 100%; }
.page_personal_centre { padding-top: 150px; }
.head_portrait .btn { width: 160px; margin-top: 20px; }
.page_personal_centre .safety .title { height: 20px; line-height: 20px; border-left: 1px solid #236dd3; padding-left: 5px; color: #236dd3; }
.page_personal_centre .safety { padding: 30px 10px 30px 226px; }
.page_personal_centre .safety ul li { float:left;*display:inline;*zoom:1; border: 0; padding: 0; width: 50%; height: 40px; line-height: 40px; }
.page_personal_centre .safety ul,.page_personal_centre .validform { padding-left: 70px; }

.page_personal_centre .privacy { margin-bottom: 70px; }
.page_personal_centre .safety ul,.page_personal_centre .item ul { padding-bottom: 10px; }

.slide_personal_centre .bd ul li { min-height: 36px; }
.page_personal_centre .privacy .icon { margin-left: 20px; color: #236dd3; }
#teamdesc { padding-top: 30px; margin-bottom: 30px; }

.user-data{
    margin-left: 76px;
    height: 68px;
    line-height: 68px;
}
.user-data .user-nickname{
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: #333333;
}
.index-header .user-data .user-nickname{
    color: #ffffff;
}
.user-data .user-header{
    background:#666666 no-repeat center center;
    background-size: 100%;
    margin-left: 6px;
    width: 22px;
    height: 22px;
    margin-top: 24px;
}
.user-data .sign-out{
    font-size: 14px;
    color: #236DD3;
    margin-left: 6px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}
